$black: rgba(0, 0, 0, 1);
$black-light-transparent: rgba(0, 0, 0, 0.3);

$color-dark-blue: #264653;
$color-teal: #2a9d8f;
$color-yellow: #e9c46a;
$color-light-orange: #f4a261;
$color-orange: #e76f51;
